$bg: #eff5ff;
$border-color: #d6d9e6;
$denim: #022959;
$grey: #9699aa;
$light-blue: #abbcff;
$light-grey: #d6d9e6;
$orange: #ffaf7e;
$pink: #f9818e;
$purple: #483eff;
$red-errors: #ee374a;
$sky-blue: #bee2fd;
$very-light-grey: #f8f9ff;
$white: #fff;